.uploadBox{
    background: #fff;
    padding: 30px 15px 0 15px;
    .imgBox{
      display: flex;
      flex-wrap: wrap;
      img, video{
        height: 82px;
        margin-right: 30px;
        margin-bottom: 20px;
      }
    }
    .bottom{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 0;
      border-top: 1px solid #565656;
      margin-top: 20px;
      .tip{
        color: #616161;
        margin: 0;
      }
      .btnGroup{
        button{
          padding: 5px 16px;
          margin: 0 10px;
        }
      }
    }
  }