@import '../../common/theme.less';
.listBox {
  display: flex;
  margin-bottom: 45px;
  img{
    width: 100%;
    object-fit: cover;
  }
  p{
    .ellipse();
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    color: #4a4a4a;
  }
  > div{
    width: 290px;
    height: 182px;
    overflow: hidden;
    padding: 10px;
    margin-right: 20px;
    background: #fff;
    cursor: pointer;
  }
}